$toolbar-height: 3.5rem;

.toolbar {
  height: $toolbar-height;
  font-size: 14px;
  // border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  // background-color: #333333;
}

.sidenav-container {
  height: calc(100% - #{$toolbar-height});

  .sidebar {
    width: 56px;
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto;

    .menu-list {
      .menu-list-item {
        &:hover,
        &.active {
          ::ng-deep .mat-list-item-content {
            padding: 0 13px;
          }
        }
      }
    }
  }

  .content {
    padding: 1rem;
  }
}

::ng-deep .black-theme {
  .sidenav-container {
    .sidebar {
      .menu-list {
        .menu-list-item {
          &:hover,
          &.active {
            background-color: #616161;

            .menu-list-item-link {
              color: #fafafa;
            }
          }

          &.active {
            border-left: 3px solid #e0e0e0;
          }

          &:hover {
            &:not(.active) {
              border-left: 3px solid #9e9e9e;
            }
          }
        }
      }
    }
  }
}
