<mat-toolbar class="toolbar d-flex align-items-center mat-elevation-z3">

  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>

  <span routerLink="" class="branding spacer d-inline d-sm-none">
    <img [src]="logo" />
  </span>

  <span routerLink="" class="branding spacer d-none d-sm-inline d-md-none">
    <img [src]="logo" /> {{ 'anms.title.short' | translate }}
  </span>

  <span routerLink="" class="branding spacer d-none d-md-inline">
    <img [src]="logo" /> {{ 'anms.title.long' | translate }}
  </span>

  <span *ngIf="language$ | async as language">
    <mat-select [ngModel]="language" (selectionChange)="onLanguageSelect($event)">
      <mat-option *ngFor="let l of languages" [value]="l.value">
        {{ l.name | translate }}
      </mat-option>
    </mat-select>
  </span>

</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav class="sidebar" #sidenav opened mode="side">

    <mat-nav-list class="menu-list">
      <mat-list-item class="menu-list-item d-flex justify-content-center align-items-center"
                     routerLinkActive="active"
                     *ngFor="let item of navigation">
        <a class="menu-list-item-link"
           [routerLink]="item.path"
           [matTooltip]="item.label | translate"
           matTooltipPosition="above">
          <mat-icon color="accent">{{item.icon}}</mat-icon>
        </a>
      </mat-list-item>
    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
