$toolbar-height: 3.5rem;

.toolbar {
  height: $toolbar-height;
  font-size: 14px;
  // border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  // background-color: #333333;
}

.sidenav-container {
  height: calc(100% - #{$toolbar-height});

  .sidebar {
    width: 56px;
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto;

    .menu-list {
      .menu-list-item {
        &:hover,
        &.active {
          background-color: #525150;

          ::ng-deep .mat-list-item-content {
            padding: 0 13px;
          }

          .menu-list-item-link {
            color: #fdfdfd;
          }
        }

        &.active {
          border-left: 3px solid #0078d4;
        }

        &:hover {
          &:not(.active) {
            border-left: 3px solid #6c6b6a;
          }
        }
      }
    }
  }

  .content {
    padding: 1rem;
  }
}
