<mat-toolbar class="toolbar">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  Header
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav class="sidebar" #sidenav opened mode="side">

    <mat-nav-list class="menu-list">
      <mat-list-item class="menu-list-item"
                     *ngFor="let item of menuItems">
        <a class="menu-list-item-link d-flex justify-content-start align-items-center"
           [routerLink]="item.path"
           [matTooltip]="item.title"
           matTooltipPosition="above">
          <mat-icon>{{item.icon}}</mat-icon>
        </a>
      </mat-list-item>
    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content class="content">
  </mat-sidenav-content>
</mat-sidenav-container>
