$toolbar-height: 3.5rem;

.toolbar {
  height: $toolbar-height;
  font-size: 14px;
  position: fixed;
  width: 100%;
  display: flex;
  z-index: 10;

  .branding {
    cursor: pointer;
    overflow: hidden;
    padding-top: 4px;
    text-overflow: ellipsis;

    &.center {
      text-align: center;
    }

    img {
      position: relative;
      top: -2px;
      width: 48px;
      height: 48px;
    }
  }

  .spacer {
    flex: 1 1 auto;
  }

  mat-select {
    margin: 0 0 0 20px;
    width: 100px;
    font-size: 14px;
  }
}

.sidenav-container {
  height: calc(100% - #{$toolbar-height});

  .sidebar {
    width: 56px;
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto;

    .menu-list {
      padding-top: 80px;

      .menu-list-item {
        &:hover,
        &.active {
          ::ng-deep .mat-list-item-content {
            padding: 0 13px;
          }
        }
      }
    }
  }

  .content {
    padding: 1rem;
  }
}

::ng-deep .black-theme {
  .sidenav-container {
    .sidebar {
      .menu-list {
        .menu-list-item {
          &:hover,
          &.active {
            background-color: #616161;

            .menu-list-item-link {
              color: #fafafa;
            }
          }

          &.active {
            border-left: 3px solid #e0e0e0;
          }

          &:hover {
            &:not(.active) {
              border-left: 3px solid #9e9e9e;
            }
          }
        }
      }
    }
  }

  .mat-drawer-side {
    border-right: solid 1px rgba(150, 150, 150, 0.12);
  }
}

::ng-deep .default-theme {
  .sidenav-container {
    .sidebar {
      .menu-list {
        .menu-list-item {
          &:hover,
          &.active {
            background-color: #616161;

            .menu-list-item-link {
              color: #fafafa;
            }
          }

          &.active {
            border-left: 3px solid #e0e0e0;
          }

          &:hover {
            &:not(.active) {
              border-left: 3px solid #9e9e9e;
            }
          }
        }
      }
    }
  }

  .mat-drawer-side {
    border-right: solid 1px rgba(150, 150, 150, 0.12);
  }
}
