<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>{{ 'amps.settings.title' | translate }}</h1>
    </div>
  </div>
  <br>
  <ng-container *ngIf="settings$ | async as settings">
    <div class="row">

      <div class="col-md-6 group">
        <h2>{{ 'amps.settings.themes.title' | translate }}</h2>
        <div class="icon-form-field">
          <mat-icon color="accent">palette</mat-icon>
          <mat-form-field>
            <mat-select [placeholder]="'amps.settings.themes.placeholder' | translate"
                        [ngModel]="settings.theme"
                        (selectionChange)="onThemeSelect($event)"
                        name="themes">
              <mat-option *ngFor="let t of themes" [value]="t.value">
                {{ 'amps.settings.themes.' + t.label | translate }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

    </div>
  </ng-container>
</div>
