// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

@import './assets/scss/themes/default-theme';
@import './assets/scss/themes/light-theme';
@import './assets/scss/themes/black-theme';
@import './assets/scss/themes/nature-theme';

$anms-color-primary: $anms-color-default-primary;
$anms-color-accent: $anms-color-default-accent;
$anms-color-warn: $anms-color-default-warn;

.default-theme {
  @include angular-material-theme($anms-theme);

  :root {
    --anms-primary: $anms-color-default-primary;
    --anms-accent: $anms-color-default-accent;
    --anms-warn: $anms-color-default-warn;
  }
}

.light-theme {
  @include angular-material-theme($anms-light-theme);

  :root {
    --anms-primary: $anms-color-light-primary;
    --anms-accent: $anms-color-light-accent;
    --anms-warn: $anms-color-light-warn;
  }
}

.black-theme {
  @include angular-material-theme($anms-black-theme);

  :root {
    --anms-primary: $anms-color-black-primary;
    --anms-accent: $anms-color-black-accent;
    --anms-warn: $anms-color-black-warn;
  }
}

.nature-theme {
  @include angular-material-theme($anms-nature-theme);

  :root {
    --anms-primary: $anms-color-nature-primary;
    --anms-accent: $anms-color-nature-accent;
    --anms-warn: $anms-color-nature-warn;
  }
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
